extends ../layouts/default.pug

block page-header
  h2 Play Chess
  span This is a very basic chess AI created by Deetss. 
  span Still a work in progress

block content
  #board.board
  br
  .info
    span Search depth 
    select#search-depth
        each val in [1,2,3]
          option= val

    <br>
    <span>Positions evaluated: <span id="position-count"></span></span>
    <br>
    #connect(onclick="test()") connect
    a(href="")
      #dc disconnect
    p#connections connections:
    div(id="state") Disconnected
    script. 
      function test(){
        $.get("/test", function(){
          $("#connect").css("color", "red");
        })

      }

    script.
      if (!!window.EventSource) {
        var source = new EventSource('/stream')

        source.addEventListener('message', function(e) {
          var connections = JSON.parse(e.data)
          console.log(connections)
          $("#connections").text("connections:" + e.data )
        }, false)

        source.addEventListener('open', function(e) {
          $("#state").text("Connected")
        }, false)

        source.addEventListener('error', function(e) {
          if (e.target.readyState == EventSource.CLOSED) {
            $("#state").text("Disconnected")
          }
          else if (e.target.readyState == EventSource.CONNECTING) {
            $("#state").text("Connecting...")
          }
        }, false)
      } else {
        console.log("Your browser doesn't support SSE")
      }
    <span>Time: <span id="time"></span></span>
    <br>
    <span>Positions/s: <span id="positions-per-s"></span> </span>
    <br>
    <br>
    #move-history.move-history
