extends ../layouts/default.pug

block page-header
  h2 Play Chess
  span This is a very basic chess AI created by Deetss. 
  span Still a work in progress

block content
  #board.board
  br
  .info
    span Search depth 
    select#search-depth
        each val in [1,2,3]
          option= val

    <br>
    <span>Positions evaluated: <span id="position-count"></span></span>
    <br>
    #connect(onclick="connect()") connect
    #dc(onclick="disconnect()") disconnect
    p#connections connections:
    div(id="state") Disconnected
    script.
      if (!!window.EventSource) {
            const source = new EventSource('/stream')

            function connect(){
              $.get("/connect", function(){
                $("#connect").css("color", "green");
              });

            }

            function disconnect(){
              $.get("/disconnect", function(){
                EventSource.close();
                $("#dc").css("color", "red");
              })
            }
            source.addEventListener('message', function(e) {
              var connections = JSON.parse(e.data)
              console.log(connections)
              $("#connections").text("connections:" + e.data )
            }, false)

            source.addEventListener('open', function(e) {
              $("#state").text("Connected")
              $("#connect").hide()
              $("#dc").show();
            }, false)

            source.addEventListener('error', function(e) {
              if (e.target.readyState == EventSource.CLOSED) {
                $("#state").text("Disconnected")
                $("#dc").hide();
                $("#connect").show();
              }
              else if (e.target.readyState == EventSource.CONNECTING) {
                $("#connect").hide();
                $("#state").text("Connecting...")
              }
            }, false)
          } else {
            console.log("Your browser doesn't support SSE")
          }
      
    <span>Time: <span id="time"></span></span>
    <br>
    <span>Positions/s: <span id="positions-per-s"></span> </span>
    <br>
    <br>
    #move-history.move-history
