extends ../layouts/default.pug

block page-header
  h2 Play Chess
  span This is a very basic chess AI created by Deetss. 
  span Still a work in progress

block content
  a(href="#")#game-start Start Game
  #board.board
  br
  .info
    span The AI is 
      span#ai-state waiting on you to move...
    br
    span Search depth 
    select#search-depth
        each val in [1,2,3,4]
          option= val
    br
    span Positions evaluated: 
      span#position-count
    br    
    span Time: 
      span#time
    br
    span Positions/s: 
      span#positions-per-s
    br
    br
    #move-history.move-history
