doctype html
html(lang="en")
  include ../includes/head.pug
  script(src="/js/app.js")
  base(href="http://chessboardjs.com/")
  script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js")
  script(src="https://unpkg.com/@chrisoakman/chessboardjs@1.0.0/dist/chessboard-1.0.0.min.js"
        integrity="sha384-8Vi8VHwn3vjQ9eUHUxex3JSN/NFqUg3QbPyX8kWyb93+8AC/pPWTzj+nHtbC5bxD"
        crossorigin="anonymous")
  link(rel="stylesheet", href="https://unpkg.com/@chrisoakman/chessboardjs@1.0.0/dist/chessboard-1.0.0.min.css"
      integrity="sha384-q94+BZtLrkL1/ohfjR8c6L+A6qzNH9R2hBLwyoAfu3i/WCvQjzL2RQJ3uNHDISdU"
      crossorigin="anonymous")
  body
    include ../includes/header.pug
    .container
      .page-header
        block page-header
      .messages
        include ../includes/messages.pug
      block main
      .content
        block content
    include ../includes/footer.pug
    include ../includes/foot.pug
